<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <h3>Sistema de Pedidos</h3>
  <img src="assets/icon/favicon.png" alt="logo">

  <form>
    <ion-item>
      <ion-label staked>Email</ion-label>
      <ion-input [(ngModel)]="creds.email" name="email" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label staked>Senha</ion-label>
      <ion-input [(ngModel)]="creds.senha" name="senha" type="text"></ion-input>
    </ion-item>
    <ion-button expand="full" (click) = "login()" >Entrar</ion-button>
  </form>
  <ion-button expand="full">Registrar</ion-button>

</ion-content>
