<!-- Barra superiro do Menu -->
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img [src]="cliente?.imageUrl || 'assets/imgs/avatar-blank.png'" class="circle">
  <h2 style="text-align: center">{{cliente?.nome}}</h2> <!-- ?:operador de navegacao segura, nao da erro caso n exista -->
  <p style="text-align: center">{{cliente?.email}}</p>

  <ion-card>
    <ion-card-header>
      Enviar imagem de perfil
    </ion-card-header>
    <ion-item *ngIf="foto">
      <img [src]="foto">
    </ion-item>
  </ion-card>  
  <ion-button expand="full" color="primary" (click)="getCameraPicture()" [disabled]="cameraOn">Camera</ion-button>
  <ion-button  expand="full" *ngIf="foto" color="medium" (click)="enviarFoto()" >Enviar Imagem</ion-button>
  <ion-button expand="full" *ngIf="foto" color="secondary" (click)="cancelar()" >Enviar Imagem</ion-button>
</ion-content>
