<ion-header>
  <ion-toolbar>
    <ion-title>Pagamento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <form [formGroup]="grupoFormulario" (ngSubmit)="proximaPagina(); $event.preventDefault()">
    <ion-list>
      <ion-radio-group formControlName="@type">
        <ion-list-header>
          <h3>Tipo de pagamento</h3> 
        </ion-list-header>
        <ion-item>
          <ion-label>Pagamento com cartão</ion-label>
          <ion-radio checked="true" value="pagamentoComCartao"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Pagamento com boleto</ion-label>
          <ion-radio value="pagamentoComBoleto"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>

    <ion-item *ngIf="grupoFormulario.value['@type'] == 'pagamentoComCartao'">
      <ion-label stacked>Parcelas no cartão</ion-label>
      <ion-select formControlName="numeroParcelas">
        <ion-select-option *ngFor="let n of parcelas" [value]="n">{{n}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-button expand="full" type="submit" [disabled]="grupoFormulario.invalid">Próximo</ion-button>
  </form>
</ion-content>
