<!-- Barra superiro do Menu -->
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="categorias"></ion-back-button> <!-- botao de voltar, colocar a referencia da pagina --> 
    </ion-buttons>
    <ion-title>Produtos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  
  <ion-fab vertical="top" horizontal="end" edge slot="fixed">
    <ion-fab-button>
      <ion-icon routerLink="/folder/components/carrinho" name="cart"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-item *ngFor="let item of items" (click)="mostrarDetalhe(item.id)">
    <ion-thumbnail slot="start">
      <img [src]="item.imageUrl || 'assets/imgs/prod.jpg'">
    </ion-thumbnail>
    <ion-label>{{item.nome}}</ion-label>
    <ion-label>{{item.preco | currency}}</ion-label>
  </ion-item>
</ion-content>







<!-- <ion-content padding>
  <ion-list>
    <button ion-item *ngFor="let item of items">
      <ion-thumbnail item-start>
        <img [src]="item.imageUrl || 'assets/imgs/prod.jpg'">
      </ion-thumbnail>
      <h2>{{item.nome}}</h2>
      <p>{{item.preco | currency}}</p>
    </button>
  </ion-list>
</ion-content> -->