<!-- Barra superiro do Menu -->
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Carrinho</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of items">
      <ion-thumbnail item-start>
        <img [src]="item.produto.imageUrl || 'assets/imgs/prod.jpg'" >
      </ion-thumbnail>
      <ion-label style="margin-left: 10px;">
        <h2>{{item.produto.nome}}</h2>
        <p>{{item.produto.preco | currency}}</p>
        <ion-icon class="nolinebreak" name="remove-circle" color="primary" (click)="diminuirQuantidade(item.produto)"></ion-icon>
        <p class="nolinebreak">{{item.quantidade}}</p>
        <ion-icon name="add-circle" color="primary" (click)="aumentarQuantidade(item.produto)"></ion-icon>
        <ion-icon name="trash" style="float: right;" color="danger" (click)="removerItem(item.produto)"></ion-icon>
      </ion-label>
    </ion-item>
    <ion-item *ngIf="total() > 0">
      <h1>Total</h1>
      <h1 slot="end">{{total()}}</h1>
    </ion-item>
    <ion-item *ngIf="total() <= 0"> <!-- caso o carrinho esteja vazio -->
      <h1>Seu carrinho está vazio</h1>
    </ion-item>
  </ion-list>   
  <ion-button expand="full" color="primary" (click)="continuarComprando()">Continuar Comprando</ion-button>
  <ion-button expand="full" color="secondary" (click)="finalizarCompra()">Finalizar Compra</ion-button>
</ion-content>
